.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.navbar-fixed .col {
  position: relative;
  width: 70%;
  margin: 0 auto;
}

.navbar-fixed nav {
  background: rgba(0, 0, 0, 0.5);
}

.navbar-fixed nav .brand-logo {
  left: 0;
}

.navbar-fixed .brand-logo img {
  height: 64px;
}

.section-promo {
  position: relative;
  color: #fff;
  margin-top: -64px;
  height: 100vh;
}

.section-promo .row {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
}

.section-promo h1 {
  margin-top: 0;
}

.slick-prev,
.slick-next {
  color: #000;
  background: #000;
}

.section-home-news {
  text-align: left;
  padding: 5vh 0;
}

.section-home-news .heading {
  text-align: center;
}
.section-home-news .slick-slider {
  margin-bottom: 5rem;
}

.section-home-news .card {
  border-radius: 10px;
}

.section-home-news .card.horizontal .card-image img {
  height: 300px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.section-home-news .card-title-wrap {
  display: flex;
  justify-content: space-between;
}

.section-home-news .card-title {
  margin-top: 0;
}

.section-home-news .slick-dots {
  bottom: -50px;
}

.section-home-news .slick-dots li button:before {
  width: 15px;
  height: 15px;
  content: "";
  background: #d0d0d0;
  opacity: 1;
  border-radius: 50%;
}

.section-home-news .slick-dots li.slick-active button:before {
  background: #259a4e;
}

.section-home-news .slick-prev:before {
  content: "\279C";
  transform: rotate(90deg);
}
.section-home-news .slick-next:before {
  content: "\2794";
}

.section-stats {
  padding: 5rem 0;
}

.stats-wrapper span {
  display: block;
}

.stats-card {
  border-radius: 10px;
  margin-bottom: 5rem;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.5);
}

.stats-number {
  color: #259a4e;
  font-size: 48px;
}
.stats-text {
  font-size: 24px;
}

.news-item {
  margin-bottom: 5rem;
}

.news-item .card {
  border-radius: 20px;
  box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.5);
}

.news-item .card-content {
  padding: 0;
}

.news-item .news-content {
  padding: 2rem;
}

.news-item .responsive-img {
  margin-bottom: -6px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.news-title {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

.news-title span {
  font-size: 30px;
}

.news-title small {
  font-size: 18px;
}

.news-text {
  font-size: 18px;
  text-align: justify;
  padding-bottom: 2.5rem;
}

.page-footer .row .col.l6 {
  width: 100%;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
}
