@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
}

.header-select {
  padding-top: 1rem;
  width: 120px;
}

.header-select .select-wrapper input.select-dropdown {
  height: 2rem;
}

.navbar-fixed .col {
  position: relative;
  width: 70%;
  margin: 0 auto;
}

.navbar-fixed nav {
  background: rgba(0, 0, 0, 0.5);
}

.navbar-fixed nav .brand-logo {
  left: 0;
}

.navbar-fixed .brand-logo img {
  height: 64px;
}

.section-promo {
  position: relative;
  color: #fff;
  margin-top: -64px;
  height: 100vh;
}

.section-news .section-promo,
.news-item .section-promo {
  height: calc(50vh + 100px);
}

.section-promo .row {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
}

.section-promo h1 {
  margin-top: 0;
}

.section-home-news {
  text-align: left;
  padding: 5vh 0;
}

.section-home-news .heading {
  text-align: center;
}
.section-home-news .slick-slider {
  margin-bottom: 5rem;
}

.section-home-news .card {
  border-radius: 10px;
}

.section-home-news .card.horizontal .card-image img {
  height: 300px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.section-home-news .card-title-wrap {
  display: flex;
  justify-content: space-between;
}

.section-home-news .card-title {
  margin-top: 0;
}

.section-home-news .card-content p {
  padding-bottom: 2rem;
}

.section-home-news .card-content .news-card-link,
.section-news .card-content .news-card-link {
  border-bottom: 1px solid #259a4e;
  color: #259a4e;
}

.section-news .card-content .news-card-link {
  display: inline-block;
  margin-bottom: 2rem;
}

.section-home-news .slick-dots {
  bottom: -50px;
}

.section-home-news .slick-dots li button:before {
  width: 15px;
  height: 15px;
  content: "";
  background: #d0d0d0;
  opacity: 1;
  border-radius: 50%;
}

.section-home-news .slick-dots li.slick-active button:before {
  background: #259a4e;
}

.section-home-news .slick-prev:before,
.section-home-news .slick-next:before {
  color: #616161;
  line-height: 0.5;
}
.section-home-news .slick-prev {
  left: -50px;
}
.section-home-news .slick-next {
  right: -50px;
}
.section-home-news .slick-prev,
.section-home-news .slick-next {
  line-height: 0.5;
  width: 40px;
  height: 40px;
  border: 1px solid #616161;
  border-radius: 50%;
}
.section-home-news .slick-prev {
  transform: rotate(180deg) translate(0, 50%);
}
.section-home-news .slick-prev:before {
  content: "\2794";
}
.section-home-news .slick-next:before {
  content: "\2794";
}

.section-stats {
  padding: 5rem 0;
}

.stats-wrapper span {
  display: block;
}

.stats-card {
  border-radius: 10px;
  margin-bottom: 5rem;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.5);
}

.stats-card .s2 {
  text-align: center;
}

.stats-number {
  color: #259a4e;
  font-size: 48px;
}
.stats-text {
  font-size: 24px;
}

.news-item {
  margin-bottom: 5rem;
}

.section-news .row {
  padding-top: 2rem;
}

.section-news .news-item {
  margin-bottom: 2rem;
}

.news-item .card {
  margin-top: 3rem;
  border-radius: 20px;
  box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.5);
}

.news-item .card-content {
  padding: 0;
}

.news-item .news-content {
  padding: 2rem;
}

.news-item .responsive-img,
.section-news .news-item .responsive-img {
  margin-bottom: -6px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.news-title,
.section-news .news-title {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

.news-title span,
.section-news .news-title span {
  font-size: 30px;
}

.news-title small,
.section-news .news-title small {
  font-size: 18px;
}

.news-text,
.section-news .news-text {
  font-size: 18px;
  text-align: justify;
  padding-bottom: 2.5rem;
}

.page-footer .row .col.l6 {
  width: 100%;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
}

footer.page-footer .footer-copyright {
  text-align: center;
}
